:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}



/* -------------- Pramesh Shrestha , Rajib Paudyal, Rodrigo Reyes -------------- */



/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 80px;
}


.background {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/homepage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------- Rajib Paudyal-------------- */



.member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
    padding: 30px;
    border-radius: 4px;
    background: #fff;
    width: 95%;
    height: 95%;
}

.pic {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.member-info {
    padding-left: 30px;
}

.member-heading {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--primary);
    line-height: 1.2;
}

.member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.member-para {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    text-decoration: none;
}

.contact {
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-weight: 500;
    padding: 10px 25px;

}

/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    color: var(--primary);
}

/* inserts content before css element (section-title)*/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);

}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.hero-title {
    color: var(--primary) !important;
}


/** Footer CSS **/

.footerLinks {
    text-decoration: none;
    color: var(--light);
}

.footerLinks:hover {
    color: #957bda !important;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    color: var(--light)
}

ul>li:hover {
    color: #957bda;
    cursor: pointer
}


.social {
    color: white;
    font-size: 20px
}



.social>i:hover {
    color: #957bda;
    cursor: pointer
}



.heading {
    font-family: 'Titillium Web', sans-serif;
    color: var(--primary)
}

/* Horizontal Line */
.divider {
    border-top: 2px solid white;
}

.heroText {
    position: relative;
    display: inline-block;
    color: var(--primary);
}